<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sugoroku">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sugoroku">
        <activity
            android:name=".make_map.MakeMapActivity"
            android:label="@string/title_activity_make_map"
            android:theme="@style/Theme.Sugoroku.NoActionBar"/>
        <activity android:name=".menu.MenuListActivity" />
        <activity android:name=".start.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".map.MapActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>